<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BagDatabase" providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB; 
    AttachDbFilename=F:\ConsoleApplication1\ConsoleApplication1\database\BagShopData\Bag_Data.mdf; 
    Database=BAG_DATA.MDF"/>
  </connectionStrings>
</configuration>
